[flake8]
deps =
    flake8-docstrings,
    flake8-comprehensions,
    flake8-import-order,
    flake8-bugbear,
    flake8-builtins,
    flake8-black,
exclude =
    tests/*
ignore =
  #* E203
  # No blank lines allowed after function docstring
  D202
max-line-length = 120
